.form {
  flex: 1 1 auto;
  min-width: 80px;
  max-width: 150px;
  margin: 0 0.5rem;
  position: relative;
}

.input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-wiki);
  border-radius: 4px;
  color: var(--text-primary);
  font-family: inherit;
  font-size: 0.85rem;
  outline: 0;
  box-shadow: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  border-color: var(--accent-cyan);
  box-shadow: 0 0 0 1px var(--accent-cyan);
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-secondary);
}
